@grid g12 {
	count: 12;
	gutter: 10px;
}

body {
	background-color: #190800;
	padding: 0;
	margin: 40px 20px 20px 20px;
	color: #fff;
	font-family: sans-serif;
}

/*body > input, body > label {
	position: relative;
	display: inline-block;
	background-color: #912e00;
	padding: 2px 3px;
	margin-bottom: 2px;
}*/

body > label {
	margin-right: 0.5em;
	vertical-align: middle;
}
/*body > label:before {
	position: relative;
	width: 1em;
	height: 1em;
	content: "";
	background-color: #772500;
	display: inline-block;
	margin-right: 0.2em;
	border-radius: 100px;
	vertical-align: middle;
}*/
body > input:checked + label:before {
	background-color: #000;
}

/*body > input {
	margin-right: -20px;
	padding: 0;
	z-index: 2;
	visibility: hidden;
}*/

body > input#stack:checked ~ #container > .inner {
	layout: stack;
}

body > input#stack-shrink:checked ~ #container > .inner {
	layout: stack shrink;	
}

body > input#stack-right-shrink:checked ~ #container > .inner {
	layout: stack right shrink;	
}

body > input#lines:checked ~ #container > .inner {
	layout: lines;	
}

body > input#lines-center-middle:checked ~ #container > .inner {
	layout: lines center;	
}
body > input#lines-center-middle:checked ~ #container {
	layout: lines center middle;	
}

body > input#lines-bottom-right:checked ~ #container > .inner {
	layout: lines right;	
}
body > input#lines-bottom-right:checked ~ #container {
	layout: lines bottom right;	
}

body > input#flow:checked ~ #container > .inner {
	layout: flow;	
}

body > input#flow-right:checked ~ #container > .inner {
	layout: flow right;	
}

body > input#columns:checked ~ #container > .inner {
	layout: columns;
	height: 100%;
}

body > input#rows:checked ~ #container > .inner {
	layout: rows;	
	height: 100%;
}

body > input#grid:checked ~ #container > .inner {
	grid: g12;
}

#container {
	height: 350px;
	outline: 1px dashed #333;
}
#container > .inner {
	/*height: 100%;*/
}

.item {
	position: relative;
	min-height: 150px;
	padding: 2em;
}

body > input#grid:checked ~ #container .item:nth-child(4n+1) {
	g12-span: 3;
}
body > input#grid:checked ~ #container .item:nth-child(4n+2) {
	g12-span: 5;
}
body > input#grid:checked ~ #container .item:nth-child(4n+3) {
	g12-span: 4;
}
body > input#grid:checked ~ #container .item:nth-child(4n+4) {
	g12-span: 3;
}

.item:nth-child(4n+1) {
	background-color: #C29B26;
}
.item:nth-child(4n+2) {
	background-color: #C03A37;
}
.item:nth-child(4n+3) {
	background-color: #F45C1B;
}
.item:nth-child(4n+4) {
	background-color: #0A586C;
}
